apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "generic-application.name" . }}-{{ .Values.environment }}
  annotations:
    {{- with .Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ include "generic-application.name" . }}-{{ .Values.environment }}
  template:
    metadata:
      labels:
        app: {{ include "generic-application.name" . }}-{{ .Values.environment }}
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- range .Values.image.pullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      {{- if .Values.initContainers.enabled }}
      initContainers:
      {{- toYaml .Values.initContainers.containers | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            requests:
              cpu: {{ .Values.resources.min.cpu }}
              memory: {{ .Values.resources.min.memory }}
            limits:
              cpu: {{ .Values.resources.max.cpu }}
              memory: {{ .Values.resources.max.memory }}
          ports:
            - name: server
              containerPort: {{ .Values.port }}
          {{- if .Values.env }}
          envFrom:
            - configMapRef:
                name: {{ include "generic-application.name" . }}-env
          env:
            {{- range .Values.secrets }}
            {{- if not .mountPath }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: {{ .secret }}
                  key: {{ .key }}
            {{- end }}
            {{- end }}
          {{- end }}
          volumeMounts:
            {{- range .Values.secrets }}
            {{- if .mountPath }}
            - name: {{ .name | kebabcase }}
              mountPath: {{ .mountPath }}
              subPath: {{ .key }}
              readOnly: true
            {{- end }}
            {{- end }}

            {{- if .Values.persistence.enabled }}
            {{- range .Values.persistence.volumes }}
            - name: {{ .name | kebabcase }}
              mountPath: {{ .path }}
            {{- end }}
            {{- end }}
      volumes:
        {{- range .Values.secrets }}
        {{- if .mountPath }}
        - name: {{ .name | kebabcase }}
          secret:
            secretName: {{ .secret }}
        {{- end }}
        {{- end }}

        {{- if .Values.persistence.enabled }}
        {{- range .Values.persistence.volumes }}
        - name: {{ .name }}
          persistentVolumeClaim:
            claimName: {{ include "generic-application.name" $ }}-{{ $.Values.environment }}-{{ .name }}
        {{- end }}
        {{- end }}
