{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "generic-application.name" . }}-{{ .Values.environment }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ include "generic-application.name" . }}-{{ .Values.environment }}
  ports:
    {{- range .Values.service.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol | default "TCP" }}
    {{- end }}
{{- end }}